<div class="grid">
    <div class="col-12 header-layout">
        <app-header></app-header>
    </div>
    <div class="col-12 body-layout">
        <p-card class="transparent-card">
            <div class="card flex justify-content-start">
                <p-breadcrumb 
                    class="max-w-full" 
                    [model]="items" 
                    [home]="home" />
            </div>
            <p class="m-10">
                <router-outlet></router-outlet>
            </p>
        </p-card>
    </div>
    <div class="col-12 footer-layout">
        <app-footer></app-footer>
    </div>
</div>