<div>
  <p-card class="action-transparent-card">
    <div class="button-grid">
      <!-- First row -->
      <button type="button" severity="success" label="Cash" pButton pRipple (click)="cashPayment()"></button>
      <button type="button" severity="success" label="Card" pButton pRipple (click)="cashPayment()"></button>
      <button type="button" severity="success" label="QR" pButton pRipple (click)="cashPayment()"></button>
      <!-- Second row -->
      <button type="button" severity="success" label="M1" pButton pRipple (click)="cashPayment()"></button>
      <button type="button" severity="success" label="M2" pButton pRipple (click)="cashPayment()"></button>
      <button type="button" severity="success" label="Clear" pButton pRipple (click)="cashPayment()"></button>
    </div>
  </p-card>
</div>