@import '../../../../assets/styles/variable.scss';

:host ::ng-deep {
  .action-transparent-card .p-card {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    min-height: 370px;

    .p-card-body {
      height: 100%;
      padding: 1rem;
    }

    .p-card-content {
      height: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
  }

  .button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    height: 100%;

    button {
      width: 100%;
      min-height: 150px;
      /* Set minimum height */
      height: 100%;
      margin: 0;
    }

    .p-button {
      height: 100% !important;
      /* Force height override */
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #22c55e;
    }

    .p-button:hover {
      background-color: rgb(210, 227, 216);
    }

    .p-button .p-button-label {
      color: white;
      font-size: xx-large;
    }
  }

  @media screen and (max-width: 768px) {
    .button-grid {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);

      button {
        min-height: 100px;
        /* Adjusted for mobile */
      }
    }
  }
}