<form [formGroup]="bCodeForm" class="card card-inner padding-n col-padding-reset">

    <div class="grid">
        <div class="col-12 md:col-6 lg:col-6">
            <div class="flex flex-column">

                <div class="field">
                    <div class="user-label"> Code<span class="required-lable">*</span></div>
                    <input formControlName="code" class="input-text auth-input w-full" id="name" type="text"
                        pInputText />
                    <small *ngIf="f.code.errors && f.code.touched && f.code.invalid" class="p-invalid">
                        <div *ngIf="f.code.errors.required" class="error-msg"> Code is required</div>
                    </small>
                </div>

                <div class="field" *ngIf="!isDisable">
                    <p-card class="scanner-transparent-card">
                        <div class="scanner-container">
                            <zxing-scanner (camerasFound)="onCamerasFound($event)"
                                (scanSuccess)="onBarcodeScanned($event)" [formats]="allowedFormats"></zxing-scanner>
                        </div>
                    </p-card>
                </div>

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">

            <div class="flex flex-column">
                <div class="field">
                    <div class="user-label">Type<span class="required-lable">*</span></div>
                    <p-dropdown [options]="bCodeType" formControlName="type" [filter]="true" optionValue="value"
                        optionLabel="key" filterBy="key" [showClear]="true" placeholder="Select a Type">
                    </p-dropdown>
                    <small *ngIf="f.type.errors && f.type.touched && f.type.invalid" class="p-invalid">
                        <div *ngIf="f.type.errors.required" class="error-msg">Barcode Type is required</div>
                    </small>
                </div>
            </div>
        </div>

    </div>


    <div class="card-footer">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-6">
                <!-- cancel button -->
                <div class="flex justify-content-center md:justify-content-start align-items-center w-full">
                    <p-button (click)="onCancel()" label="Cancel " styleClass="usr-add-p-btn">
                    </p-button>
                </div>

            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <!-- save Button -->
                <div class="flex justify-content-center md:justify-content-end w-full align-items-center"
                    *ngIf="!isDisable">
                    <p-button type="submit" (click)="saveInfo()" label="Save Info" icon="pi pi-save"
                        styleClass="usr-add-p-btn">
                    </p-button>
                </div>
            </div>
        </div>
    </div>
</form>