@import '../../../../../assets/styles/variable.scss';

:host .user-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #060606;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 10px;
}

:host ::ng-deep .air-model .p-dialog .p-dialog-header .p-dialog-title {
    color: #ea1a1a;
}

:host ::ng-deep .usr-add-p-btn.p-button {
    background-color: white;
    color: $button-color;
    border: 1px solid #232020;
    width: 140px;
}

:host ::ng-deep .p-dropdown {
    // width: 415px;
    display: flex;
    width: 100%;
}


:host ::ng-deep .p-multiselect {
    display: flex;
    width: 100%;
}

:host ::ng-deep .p-input-icon-right>.p-inputtext {
    width: 415px;
}

:host ::ng-deep .p-password {
    display: flex;
    width: 100%;
}

:host ::ng-deep .p-multiselect .p-multiselect-label.p-placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: $button-color;
}

:host ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: $button-color;
}

:host ::ng-deep .p-inputtext {
    font-family: Arial, Helvetica, sans-serif;
    color: #060606;
}

.required-lable {
    color: #ea1a1a;
}

.error-msg {
    color: #ea1a1a;
}



:host ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    font-family: Arial, Helvetica, sans-serif;
    color: #060606;
}

:host ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
    background-color: $button-color;
    background: $button-color;
    border-color: #232020;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: $button-color;
}



:host ::ng-deep {

    .summary-transparent-card .p-card {
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
    }


}

.summary-lbl {
    color: white;
    font-size: small;
    margin-left: 10px;
    min-width: 50px;
}

.summary-val {
    color: $button-color;
    font-size: small;
    margin-left: 10px;
    min-width: 50px;
}

.amount-lbl {
    color: $major-color;
    font-size:xx-large;
}




:host ::ng-deep {
    .p-card {
        width: 100%;
        padding: 0rem;
    }

    .p-card-content {
        padding: 0px;
        padding-top: 10px;
    }

    .p-card .p-card-body {
        padding: 0.2rem;
    }

    .transparent-card .p-card {
        background-color: rgba(0, 0, 0, 0.8);
        /* 50% opacity */
    }

    .field {
        width: 100%;
    }

    .p-inputnumber {
        margin-left: 5px;
        margin-right: 5px;
        display: block;
    }

    // .p-inputtext {
    //     margin-top: 3px;
    // }

    // .p-inputtext:hover {
    //     background-color: #f0f0f0;
    //     border-color: $major-color;
    // }

    // .p-inputtext:focus {
    //     border-color: $major-color;
    //     box-shadow: 0 0 5px $major-color;
    //     outline: none;
    // }

    // .p-inputnumber-input {
    //     width: 100%;
    // }



    /* This ensures the input spans full width */
    .block {
        display: block;
        width: 100%;
    }
}




:host ::ng-deep {

    /* Card styling */
    .p-card {
        width: 100%;
        padding: 0rem;
    }

    .p-card-content {
        padding: 0px;
        padding-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .p-card .p-card-body {
        padding: 0.2rem;
    }

    .transparent-card .p-card {
        background-color: rgba(0, 0, 0, 0.8);
        max-height: 200px;
        /* 50% opacity */
    }

    /* Critical width controls */
    .field {
        width: 100%;

    }

    .p-autocomplete {
        display: block;
        width: 100%;
    }

    .p-autocomplete-input {
        width: 100%;

    }

    /* Panel width to match input */
    .p-autocomplete-panel {
        width: 100%;
    }
}


:host ::ng-deep {

    .scanner-transparent-card .p-card-content {
        padding: 0px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .scanner-transparent-card .p-card {
        background-color: rgba(0, 0, 0, 0.8);
        max-height: 200px;
        /* 50% opacity */
    }

    .scanner-container {
        width: 100%;
        height: 75px; // Adjust this value
        overflow: hidden;
    }

    // Target the video element inside zxing-scanner
    zxing-scanner video {
        height: 180px !important; // Match container height
        object-fit: cover;
    }

    // Optional: Adjust the preview window
    zxing-scanner .scan-area {
        width: 200px !important;
        height: 200px !important;
    }
}