<p-card class="p-card">

    <div class="card card-inner">
        <!-- table -->
        <p-table #dt [value]="showroomList" [rows]="10" [globalFilterFields]="['title']" responsiveLayout="scroll"
            [(selection)]="selectedShowroomList" [rowHover]="true" dataKey="id">

            <!-- caption And Searchbar -->
            <ng-template pTemplate="caption">
                <div class="flex justify-content-end">
                    <div class="flex flex-column md:flex-row lg:flex-row">
                        <div class="flex justify-content-between flex-wrap mb-1 table-search">
                            <div class="flex align-items-center justify-content-center">
                                <label for="" class="search-label mr-2">Search :</label>
                                <span class="p-input-icon-left">
                                    <!-- <i class="pi pi-search"></i> -->
                                    <input #search [(ngModel)]="selectedKeyword" type="text" pInputText
                                        placeholder="Name" class="search w-12rem"
                                        (keyup.enter)="onEnterSearch(search.value)" />
                                </span>
                            </div>
                        </div>
                        <div class="flex  justify-content-center ml-3 mb-1">
                            <p-button styleClass="action-btn" (onClick)="onClearSearch()" label="Clear"></p-button>
                        </div>
                        <div class="flex  justify-content-center ml-3">
                            <p-button styleClass="action-btn" (onClick)="onAdd()" label="Create"></p-button>
                        </div>

                    </div>
                </div>


            </ng-template>

            <!-- table Header -->
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Address</th>
                    <th>Contact</th>
                    <th pSortableColumn="title">Warehouse</th>
                    <th pSortableColumn="title">Warehouse Location</th>
                    <th class="action-col">Action</th>
                </tr>
            </ng-template>

            <!-- table Body -->
            <ng-template pTemplate="body" let-showroom>
                <tr>
                    <td>{{showroom.id}}</td>
                    <td>{{showroom.name}}</td>
                    <td>{{showroom.location}}</td>
                    <td>{{showroom.address}}</td>
                    <td>{{showroom.phoneNumber}}</td>
                    <td>{{showroom?.warehouse?.name}}</td>
                    <td>{{showroom?.warehouse?.location}}</td>
                    <td>

                        <p-button pTooltip="View User" class="action-btn mr-2" icon="pi pi-eye" tooltipPosition="bottom"
                            tooltipStyleClass="p-tooltip" life:4000 (onClick)="onView(showroom)" [text]="true"
                            [raised]="true"></p-button>
                        <p-button pTooltip="Edit User" class="action-btn mr-2" icon="pi pi-pencil"
                            tooltipPosition="bottom" tooltipStyleClass="p-tooltip" life:4000
                            (onClick)="onEdit(showroom)" [text]="true" [raised]="true"></p-button>
                    </td>
                </tr>
            </ng-template>

        </p-table>

        <!-- pagination -->
        <app-pagination [paginateOptions]="paginateOptions" [filters]="filters" (pageChanged)="fetchShowroomList()"
            (pageLimitChanged)="fetchShowroomList()"></app-pagination>
    </div>
</p-card>